// colors
$color_callToAction: #ffb700;
$color_background: darkgrey;
$color_primary: grey;
$color_secondary: #e5e5e5;


//dimensions
$dimension_header_height: 3rem;
$dimension_menuMobile_height: 3rem;