.events__searchBar {
	z-index: 1;
	display: flex;


	align-items: center;
	& .rs-dropdown {
		background-color: grey;
		text-align: center;
		width: calc(100vw/3);
		border: 1px solid black;
	}
	& a {
		color:black;
	}
}