@use '../../../../styles/vars';

.categories{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: vars.$dimension_header_height;

    h1{
        margin: .5rem;
    }

	

    &__header{
        margin-top: .5rem;
		background-color: vars.$color_secondary;
		position: fixed;
    }

    &__list{
        margin: .5rem;
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
    }

}