@use '../../../../styles/vars';

.categories{
    display: flex;
    flex-direction: column;
	margin-top: 2.4rem;
    min-height: 100vh;

	& h1 {
		text-align: center;
	}

    &__header{
		background-color: vars.$color_secondary;
		position: fixed;
		
		padding: 0.5rem 0;
    }

    &__list{
        margin: 6rem 0.5rem 0 0.5rem;
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
    }

}