.header {
	background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    padding: .6rem;
	z-index: 10;
	width: 100vw;
	position: fixed;
	top: 0;

    button{
		margin-right: 1rem;
        background-color: transparent;
        border: none;
    }

    &__searchBar{
        width: 0;
        visibility: hidden;
        transition: all .5s;
        border: 0;

        &-open {
            border:0;
            width: 90vw;
            transition: all .5s;
        }
    }
}