@use '../../../styles/vars';

.header {
	background-color: vars.$color_secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: .6rem;
	z-index: 10;
	width: 100vw;
	position: fixed;
	top: 0;
    height: vars.$dimension_header_height;
    padding: .4rem;

    ion-icon{
        font-size: 2rem;
        color: vars.$color_callToAction;
        margin: .5rem;
    }

    form{
        width: 100%;
    }

}