@use '../../../styles/vars';

.header {
	background-color: vars.$color_secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
	z-index: 10;
	width: 100vw;
	position: fixed;
	top: 0;
    height: vars.$dimension_header_height;
    padding: .5rem;
    box-shadow: 0 5px 5px rgb(255, 255, 255, .2) ;

    &__btn{
        display: flex;
        width: 10rem;
        justify-content: flex-end;
    }

    &__search {
		margin-right: 2rem;
        background-color: transparent;
        border: none;
    }

	&__scrollToTop {
		background-color: transparent;
	}

    &__searchBar{
        width: 0;
        visibility: hidden;
        transition: all .5s;
        border: 0;

        &-open {
            border:0;
            width: 80vw;
            transition: all .5s;
        }}

    ion-icon{
        font-size: 2rem;
        color: vars.$color_callToAction;
        margin: .5rem;
    }

    form{
        width: 100%;
    }

    a:link, a:visited{
        text-decoration: none;
        color: vars.$color_text;
    }

}