.homePage {
    display: flex;
    flex-direction: column;
    
   

    &__ressources {
        background-color: grey;
        margin: 1rem 0 ;

        
    }

    &__highlightedCollections {
        display:flex;
        flex-direction: column;
        margin: 1em 0.5em;

        &__list{
			display: grid;
			flex-direction: row;
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: repeat(2, 1fr);
			gap: 0.5em;
        }
    }

    &__creationProcess {
        margin: 2rem 0 1rem 0;
        height: 250px;
        background-color: grey;
    }

    &__latestCollections{
        display:flex;
        flex-direction: column;
        margin: 0.5rem 0 1rem 0;

        &__list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 100%;
        }
    }
}