.homePage {
    display: flex;
    flex-direction: column;
    
   

    &__ressources {
        margin: 1rem 0 ;

        
    }

    &__highlightedCollections {
        display:flex;
        flex-direction: column;
		padding-top: 1rem;
    }

    &__creationProcess {
        margin: 0 0 1rem;
        height: 250px;
        background-color: grey;
    }

    &__latestCollections{
        display:flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
}