.collection{
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    &__title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: .5rem 0 ;
        background-color: grey;
        height: 100px;

        &__image{
            height: 80px;
            width: 80px;
            background-color: darkgray;
            margin: .5rem;
        }

        &__text{
            flex-grow: 2;
            
            margin: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: .5rem;

            &__main{
                p{
                    font-size: .9rem;
                }

                &__head{
                    display: flex;
                    justify-content: space-between;
                }

            }
            
            &__stats{
                display: grid;
                flex-direction: row;
                grid-template-columns: repeat(3, 1fr);
                
                h3{
                    font-size: .9rem;
                }
                p{
                    font-weight: bold;
                }
            }
        }

       

    }

    &__list{
        margin: 2.5rem 0.5rem;
        display: grid;
        height: 50vh;
        flex-direction: row;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
    }

}