@use '../../../styles/vars';

.app {
  //   max-width: 414px;
  background-color: darkgrey;
  overflow-y: hidden;
  font-family: sans-serif;
  color: black;
  height: 100%;

  main {
	  width: 100vw;
	  margin: vars.$dimension_header_height auto;
  }

  h1 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  h2{
    font-size: 1.2rem;
    font-weight: bold;
}

}

// DARK MODE
.darkmode-toggle, .darkmode-toggle--white {
	z-index: 500;
	position: absolute;
	top: -0.25rem; 
}
